@tailwind base;
@tailwind components;
@tailwind utilities;

.center {
  @apply flex items-center justify-center;
}

.Toastify__toast-theme--light,
.Toastify__toast-theme--dark {
  @apply bg-base-100 text-base-content;
  border-radius: var(--rounded-box);
}

.Toastify__progress-bar--error {
  @apply bg-error text-error-content;
}

.Toastify__progress-bar--success {
  @apply bg-success text-success-content;
}

.Toastify__progress-bar--warn {
  @apply bg-warning text-warning-content;
}

.wmde-markdown,
.wmde-markdown-var {
  @apply !bg-base-100 !border-base-content/20;

  --color-fg-default: oklch(var(--bc)) !important;
  --color-fg-muted: oklch(var(--bc)) !important;
  --color-fg-subtle: oklch(var(--bc)) !important;
  --color-canvas-default: oklch(var(--b1)) !important;
  --color-canvas-subtle: oklch(var(--b1)) !important;
  --color-accent-fg: oklch(var(--bc)) !important;
  --color-accent-emphasis: oklch(var(--bc)) !important;
  --color-attention-subtle: oklch(var(--bc)) !important;
  --color-danger-fg: oklch(var(--e)) !important;
  --color-border-default: oklch(var(--bc)) !important;
  /* --color-border-muted: hsla(210, 18%, 87%, 1); */
  /* --color-neutral-muted: rgba(175, 184, 193, 0.2); */

  --color-prettylights-syntax-comment: oklch(var(--bc)) !important; /* #6e7781; */
  --color-prettylights-syntax-constant: oklch(var(--bc)) !important; /* #0550ae; */
  --color-prettylights-syntax-entity: oklch(var(--bc)) !important; /* #8250df; */
  --color-prettylights-syntax-storage-modifier-import: oklch(var(--bc)) !important; /* #24292f; */
  --color-prettylights-syntax-entity-tag: oklch(var(--bc)) !important; /* #116329; */
  --color-prettylights-syntax-keyword: oklch(var(--bc)) !important; /* #cf222e; */
  --color-prettylights-syntax-string: oklch(var(--bc)) !important; /* #0a3069; */
  --color-prettylights-syntax-variable: oklch(var(--bc)) !important; /* #953800; */
  --color-prettylights-syntax-brackethighlighter-unmatched: oklch(var(--bc)) !important; /* #82071e; */
  --color-prettylights-syntax-invalid-illegal-text: oklch(var(--bc)) !important; /* #f6f8fa; */
  --color-prettylights-syntax-invalid-illegal-bg: oklch(var(--bc)) !important; /* #82071e; */
  --color-prettylights-syntax-carriage-return-text: oklch(var(--bc)) !important; /* #f6f8fa; */
  --color-prettylights-syntax-carriage-return-bg: oklch(var(--bc)) !important; /* #cf222e; */
  --color-prettylights-syntax-string-regexp: oklch(var(--bc)) !important; /* #116329; */
  --color-prettylights-syntax-markup-list: oklch(var(--bc)) !important; /* #3b2300; */
  --color-prettylights-syntax-markup-heading: oklch(var(--bc)) !important; /* #0550ae; */
  --color-prettylights-syntax-markup-italic: oklch(var(--bc)) !important; /* #24292f; */
  --color-prettylights-syntax-markup-bold: oklch(var(--bc)) !important; /* #24292f; */
  --color-prettylights-syntax-markup-deleted-text: oklch(var(--bc)) !important; /* #82071e; */
  --color-prettylights-syntax-markup-deleted-bg: oklch(var(--bc)) !important; /* #ffebe9; */
  --color-prettylights-syntax-markup-inserted-text: oklch(var(--bc)) !important; /* #116329; */
  --color-prettylights-syntax-markup-inserted-bg: oklch(var(--bc)) !important; /* #dafbe1; */
  --color-prettylights-syntax-markup-changed-text: oklch(var(--bc)) !important; /* #953800; */
  --color-prettylights-syntax-markup-changed-bg: oklch(var(--bc)) !important; /* #ffd8b5; */
  --color-prettylights-syntax-markup-ignored-text: oklch(var(--bc)) !important; /* #eaeef2; */
  --color-prettylights-syntax-markup-ignored-bg: oklch(var(--bc)) !important; /* #0550ae; */
  --color-prettylights-syntax-meta-diff-range: oklch(var(--bc)) !important; /* #8250df; */
  --color-prettylights-syntax-brackethighlighter-angle: oklch(var(--bc)) !important; /* #57606a; */
  --color-prettylights-syntax-sublimelinter-gutter-mark: oklch(var(--bc)) !important; /* #8c959f; */
  --color-prettylights-syntax-constant-other-reference-link: oklch(var(--bc)) !important; /* #0a3069; */
}

.w-md-editor, .w-md-editor-preview {
  @apply !bg-base-100 !shadow-none;
}

.w-md-editor-content {
  @apply !border-base-content/20 border-b border-t;
}

.w-md-editor-preview {
  @apply !border-base-content/20 border-l;
}

.w-md-editor-toolbar {
  @apply !bg-base-100 !border-base-content/20;
}

.wmde-markdown-color,
.w-md-editor-toolbar svg {
  @apply !text-base-content !bg-base-100 !border-base-content/20;
}

.wmde-markdown h1,
.wmde-markdown h2 {
  @apply !border-b-base-content/20 ;
}

.w-md-editor-text-input {
  @apply !text-base-content;
}

.text-40 {
  @apply text-base-content/40;
}

.text-60 {
  @apply text-base-content/60;
}

.text-80 {
  @apply text-base-content/80;
}
